{{#if addNewQuestion}}
  <h4>Fill in the form below to submit a new question</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label> {{input value=author id="author" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="qst">Question</label> {{input value=qst id="qst" class="form-control"}}
      </div>

      <div class="form-group">
        <label for="notes">Notes</label> {{input value=notes id="notes" class="form-control"}}
      </div>
      <button class="btn-sucess" {{action 'saveQuestion1'}}>Save Question</button>
    </form>
  </div>
{{else}}
  <button class="btn-primary btn-lg" align="center" {{action 'showQuestionForm'}}>New Question</button>
{{/if}}
