

<h3>Question</h3>
<h4>{{question.qst}}</h4>
<h5>Submitted by:{{question.author}}</h5>
<p>Notes:{{question.notes}}</p>
<p>Supporting Images:{{question.image}}</p>


<!-- {{new-answer saveAnswer="saveAnswer" question=model}} -->

<button class="btn"{{action 'delete' question}}>Delete</button>
