 {{#link-to 'question' question.id}}   {{question.qst}} asked by {{question.author}}
{{/link-to}}


<!-- <p><strong>Author:{{question.author}}</strong></p>
<p>{{question.qst}}</p>
<p>{{question.notes}}</p> -->
<!-- {{question.notes}}{{question.image}}</p> -->
<!-- {{update-question question=question update="update"}} -->
<!-- <button class="btn"{{action 'delete' question}}>Delete</button> -->
