<!-- component to display the details of the question -->


    <div class="col-md-12">
<h4><strong>Question</strong></h4>
  <h4>{{question.qst}}</h4>
<h5>(<strong>Submitted by:{{question.author}}</strong>)</h5>
<h4><strong>Notes</strong></h4><h5>{{question.notes}}</h5>
<button class="btn-basic btn-lg" {{action 'addToFavorites' question}}>Add to MyFavorities</button>
<button class="btn-danger btn-info btn-lg" {{action 'delete' question}}>Delete Question</button>
</div>
