{{#if updateQuestionForm}}
<h4> Edit questions already submitted</h4>
<div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author class="form-control"}}
      </div>

      <div class="form-group">
        <label for="qst">Question</label>
        {{input value=qst id="qst" placeholder=question.qst class="form-control"}}
      </div>

      <div class="form-group">
        <label for="notes">notes</label>
        {{input value=notes id="notes" placeholder=question.notes class="form-control"}}
      </div>

      <!-- <div class="form-group">
        <label for="image">image</label>
        {{input value=image id="image" placeholder=question.image}}
      </div> -->
      <button class="btn btn-info btn-lg"{{action 'update' question}}>Edit Question</button>
</form>
</div>
{{else}}
<div>
  <button class="btn-primary btn-lg"{{action 'updateQuestionForm'}}> Update question</button>
</div>
{{/if}}
