{{#if updateQuestionForm}}
<h4> Edit questions already submitted</h4>
<div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="qst">Question</label>
        {{input value=qst id="qst" placeholder=question.qst}}
      </div>

      <div class="form-group">
        <label for="notes">notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <div class="form-group">
        <label for="image">image</label>
        {{input value=image id="image" placeholder=question.image}}
      </div>
      <button class="btn"{{action 'update' question}}>Edit Question</button>
</form>
</div>
{{else}}
<button class="btn"{{action 'updateQuestionForm'}}> Update question</button>

{{/if}}
